.doc #preamble .abstract blockquote {
  background: var(--quote-background);
  border-left: 5px solid var(--abstract-border-color);
  color: var(--abstract-font-color);
  font-size: calc(16 / var(--rem-base) * 1rem);
  padding: 0.75em 1em;
}

.doc .hdlist1 {
  font-weight: bold;
  font-style: italic;
}

.doc summary {
  list-style: inherit;
  border: none;
}

.doc details p {
  cursor: auto;
  background: #eee;
  border-radius: 4px;
  right: 0;
}

.doc details[open] p {
  animation: animateDown 0.2s linear forwards;
}

@keyframes animateDown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {

  /* Force table to not be like tables anymore */
  .doc table,
  thead,
  tbody,
  th,
  td {
    display: block;
  }

  .doc tr {
    display: flex;
    flex-flow: row wrap;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  .doc thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .doc td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    flex-basis: 1 1 0;
  }

  .doc td::before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  .doc td:nth-of-type(1) {
    flex-basis: max-content;
  }
  /*
Label the data
  .doc td:nth-of-type(1):before { content: ""; }
  .doc td:nth-of-type(2):before { content: ""; }
  .doc td:nth-of-type(3):before { content: ""; }
  .doc td:nth-of-type(4):before { content: ""; }
  .doc td:nth-of-type(5):before { content: ""; }
  .doc td:nth-of-type(6):before { content: ""; }
  .doc td:nth-of-type(7):before { content: ""; }
  .doc td:nth-of-type(8):before { content: ""; }
  .doc td:nth-of-type(9):before { content: ""; }
  .doc td:nth-of-type(10):before { content: ""; }
  */
}
