@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src:
    local("Noto Sans Regular"),
    local("Noto Sans-Regular"),
    url(~typeface-noto-sans/files/noto-sans-latin-400.woff2) format("woff2"),
    url(~typeface-noto-sans/files/noto-sans-latin-400.woff) format("woff");
}

@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 400;
  src:
    local("Noto Sans Italic"),
    local("Noto Sans-Italic"),
    url(~typeface-noto-sans/files/noto-sans-latin-400italic.woff2) format("woff2"),
    url(~typeface-noto-sans/files/noto-sans-latin-400italic.woff) format("woff");
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  src:
    local("Noto Sans Medium"),
    local("Noto Sans-Medium"),
    url(~typeface-noto-sans/files/noto-sans-latin-700.woff2) format("woff2"),
    url(~typeface-noto-sans/files/noto-sans-latin-700.woff) format("woff");
}

@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 700;
  src:
    local("Noto Sans Medium Italic"),
    local("Noto Sans-MediumItalic"),
    url(~typeface-noto-sans/files/noto-sans-latin-700italic.woff2) format("woff2"),
    url(~typeface-noto-sans/files/noto-sans-latin-700italic.woff) format("woff");
}
